

@tailwind base;
@tailwind components;
@tailwind utilities;


.btn:hover{@apply scale-105}

.tab-active{@apply bg-transparent text-primary font-semibold !important}

.fundoError{@apply bg-rose-400 !important}

.fundoSuccess{@apply bg-teal-400 !important}

.textoError{@apply text-rose-400 !important}

.textoSuccess{@apply text-teal-400 !important}

.itensListaPesquisa{@apply py-2 px-2 text-sm hover:text-base-100 hover:bg-primary rounded-b-md w-full cursor-pointer !important}

.cardsGaleria{@apply lg:min-w-[800px] md:min-w-[600px] !important}




/* Geral */

*{  
    margin: 0;
    padding: 0;
    transition: all 0.1s linear;
}


/* Tirar rolagem horizontal */

body,html{overflow-x: hidden;}

/* Propriedades e animacao do Slkeleton */

.skeleton2  {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.skeleton2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(90deg, #e8e8e8 0%, #ffc30c 100%);
    background-size: 200% 100%;
    animation: loading 1s infinite linear;
}


@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}





